{% extends "testbootstrap.html" %}

{% block body %}

<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/announcements.css')}}">

<script src="static/scripts/announcements.js"></script>
<section>

<h1 class="header">Competitions:</h1>

<form action="/competition_details" method="get">

  {% for competition in competitions %}
    <div style="text-align:center;">
      <button type="submit" name="id" value="{{ competition[0] }}" class="box">
        
        <h1 class="box-title">
          {% if competition[1]|length > 100 %}
            {{ competition[1][0:100] }} ...
          {% else %}
            {{ competition[1] }}
          {% endif %}
        </h1>
        
        <h1 class="box-detail">{{ competition[4] }}</h1>
        
        <div class="box-bottom">
          <h1 class="box-people">{{ competition[3] }}</h1>
          <h1 class="box-date">{{ competition[2] }}</h1>
        </div>
        
      </button>
    </div>
  {% endfor %}

</form>

{% endblock %}