{% extends "testbootstrap.html" %}

{% block body %}

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
<div id="main">
  <h2>Here are the competition updates for today:</h2>
</div>

<table id="t01a">
  <tr>
    <!--Table for announcements-->
    <th>Updates</th>
    <th>Date</th>
    <th>Personnel Involved</th>
  </tr>
  {% for competition in competitions %}
  <tr>
    <td><a href="/competition_details">{{ competition[3] }}</a></td>
    <td>{{ competition[1] }}</td>
    <td>{{ competition[2] }}</td>
  </tr>
  {% endfor %}

</table>

{% endblock %}