{% extends "testbootstrap.html" %}

{% block body %}
<link href="https://fonts.googleapis.com/css?family=EB+Garamond|PT+Sans:400,400i,700,700i&subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
<!-- Use any element to open the sidenav-->
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<form action="/deletion" method="post">
<div id="main">
    <h1 align="center">Confirm delete Submission?</h1>
    <select name="group">

        {% if group == 'competition' %}
        <option selected value="competition">Competitions</option>
        {% endif %}

        {% if group == 'announcement' %}
        <option selected value="announcement">Announcements</option>
        {% endif %}

    </select>
</div>

<div class='container'>

    {% if group == 'announcement' %}
    <table id="t01a">
      <tr>
        <th>Choose!!</th>
        <th>Announcements</th>
        <th>Valid for</th>
        <th>Personnel Involved</th>
      </tr>

      {% for detail in details %}
      <tr>
        <td><input type="radio" name="todelete" value="{{detail[0]}}"></td>
        <td>{{ detail[3] }}</td>
        <td>{{ detail[1] }}</td>
        <td>{{ detail[2] }}</td>
      </tr>
      {% endfor %}

    </table>
    {% endif %}

    {% if group == 'competition' %}
    <table id="t01a">
      <tr>
        <!--Table for announcements-->
        <th>Choose!!</th>
        <th>Updates</th>
        <th>Date</th>
        <th>Personnel Involved</th>
      </tr>

      {% for detail in details %}
      <tr>
        <td><input type="radio" name="todelete" value="{{detail[0]}}"></td>
        <td>{{ detail[3] }}</td>
        <td>{{ detail[1] }}</td>
        <td>{{ detail[2] }}</td>
      </tr>
      {% endfor %}

    </table>
    {% endif %}

    <input type="submit" value="Submit">
    <a href = "/delete"><button type="button">Back</button></a>
</form>
</div>

{% endblock %}
