{% extends "testbootstrap.html" %}

{% block body %}
<link href="https://fonts.googleapis.com/css?family=EB+Garamond|PT+Sans:400,400i,700,700i&subset=latin-ext" rel="stylesheet">
<!-- Use any element to open the sidenav-->
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <h1 align="center">Delete Submission</h1>
</div>

<div class='container'>
<form action="/delete2" method="post">
    <h4>What are you deleting from?</h4>
    <select name="group">
        <option value="competition">Competitions</option>
        <option value="announcement">Announcements</option>
    </select>
    <input type="submit" value="Submit">
</form>
</div>

{% endblock %}
