{% extends "testbootstrap.html" %}

{% block body %}

<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
<link href="https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro" rel='stylesheet'>

<head> 
  <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<div id="main">
  <h1 style="text-align:center;">
    Welcome
    <br>
    {{ user_email }}!
  </h1>
</div>

<div class="box">
  <h1 class="box-title">Flag Raising Venues</h1>
  <div class="box-bottom">
    <div class="flex-container">
      <h1 class="box-left">Year 1</h1>
      <h1 class="box-right">{{ levels[0][1] }}</h1>
    </div>

    <div class="flex-container">
      <h1 class="box-left">Year 2</h1>
      <h1 class="box-right">{{ levels[0][2] }}</h1>
    </div>

    <div class="flex-container">
      <h1 class="box-left">Year 3</h1>
      <h1 class="box-right">{{ levels[0][3] }}</h1>
    </div>

    <div class="flex-container">
      <h1 class="box-left">Year 4</h1>
      <h1 class="box-right">{{ levels[0][4] }}</h1>
    </div>

    <div class="flex-container">
      <h1 class="box-left">Year 5</h1>
      <h1 class="box-right">{{ levels[0][5] }}</h1>
    </div>

    <div class="flex-container">
      <h1 class="box-left">Year 6</h1>
      <h1 class="box-right">{{ levels[0][6] }}</h1>
    </div>

    <div class="flex-container">
      <h1 class="box-left">Staff</h1>
      <h1 class="box-right">{{ levels[0][7] }}</h1>
    </div>
  </div>  
</div>

{% endblock %}