<!DOCTYPE html>
<html lang="en">
<head>
  <title>DHS App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<div class="jumbotron jumbotron-fluid">
    <h1 class="text-center">Welcome To The Dunman App</h1> 
    <p class="text-center">Please sign in with your DHS email</p> 
</div>
<a href="/login" class="btn btn-primary btn-block" role="button">LOGIN</a>
</html>