{% extends "testbootstrap.html" %}

{% block body %}
<!--<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<button class="options" <span id="options" onclick="openNav()"></span><i class="fa fa-home"></i></button>-->
<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
<div id="main">
  <button>Press to get notifs</button>
</div>

<script type="javascript">

</script>

{% endblock %}
