{% extends "testbootstrap.html" %}

{% block body %}

<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/announcements.css')}}">
<!--<link href="https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro" rel='stylesheet'>-->
<script src="static/scripts/announcements.js"></script>
<head> 
  <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<h1 class="header">Thought of the week:</h1>

<form action="/totw_details" method="get">

  {% for tot in totw %}
    <div style="text-align:center;">
      <button type="submit" name="id" value="{{ tot[0] }}" class="box">
        
        <h1 class="box-title">
          {% if tot[1]|length > 100 %}
            {{ tot[1][0:100] }} ...
          {% else %}
            {{ tot[1] }}
          {% endif %}
        </h1>
        
        <h1 class="box-detail">{{ tot[3] }}</h1>
        
        <div class="box-bottom">
          <h1 class="box-people">{{ tot[4] }}</h1>
          <h1 class="box-date">{{ tot[2] }}</h1>
        </div>
        
      </button>
    </div>
  {% endfor %}

</form>

{% endblock %}