.header {
    font-size: 40px;
    color: black;
    text-align: center;
    margin: 15px;
}

.box {
    width: 95%;
    background-color: white;
    border: 3px solid white;
    box-shadow: 0px 3px 5px lightgrey;
    margin: 30px auto;
    border-radius: 10px;
}

.box-title {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin: 20px;
    word-wrap: break-word;
    text-align: left;
}

.box-detail {
    font-size: 22px;
    color: #6a6a6a;
    margin: 20px;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.box-people {
    font-size: 20px;
    color: #6a6a6a;
    margin: 10px;
    margin-left: 20px;
    float: left;
    text-align: left;
}

.box-date {
    font-size: 20px;
    color: #6a6a6a;
    margin: 10px;
    margin-right: 20px;
    float: right;
    text-align: right;
}

.box-bottom {
    border-top: 3px solid #e9ecef;
    border-radius: 0px;
    height: 46px;
}

table {
    width: 100%;
    /*this forces it to go to next column*/
    table-layout: fixed;
}

.tbl-header {
    background-color: rgb(0, 92, 230);
}

.tbl-content {
    /*   background-color: #152DDB;
    background-image: linear-gradient(173deg, rgb(51, 102, 255, 0.3), rgb(255, 30, 30, 1));*/
    height: 500px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.678);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    border-bottom: solid 1px rgba(0, 0, 0, 0.678);
}


/*
@media only screen and (max-width: 300px) {
    .header {
        margin: 0px;
    }
    .box {
        width: 100%;
    }
    .box-title {
        font-size: 28px;
    }
    .box-detail {
        font-size: 16px;
    }
    .box-people {
        font-size: 14px;
    }
    .box-date {
        font-size: 14px;
    }
    .box-bottom {
        height: 40px;
    }
}
*/

@media only screen and (max-width: 800px) {
    .header {
        margin: 0px;
        margin-top: 20px;
    }
    .box {
        width: 94%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 1px;
    }
    .box-title {
        font-size: 28px;
        margin-bottom: 16px
    }
    .box-detail {
        font-size: 16px;
    }
    .box-people {
        font-size: 14px;
    }
    .box-date {
        font-size: 14px;
    }
    .box-bottom {
        height: 40px;
    }
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin: 20px;
    word-wrap: break-word;
    text-align: left;
}

.date {
    font-size: 22px;
    color: grey;
    margin: 20px;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.box-bottom2 {
    border-top: 3px solid #e9ecef;
    border-radius: 0px;
}

.details-header {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 20px;
    word-wrap: break-word;
    text-align: left;
}

.details {
    font-size: 24px;
    font-weight: normal;
    color: grey;
    margin: 20px;
    word-wrap: break-word;
    text-align: left;
}