/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #0c004d !important;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */


/*
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}*/

body {
    background-color: #e9ecef;
    padding-bottom: 50px;
    font-family: "Source Sans Pro";
}

.options {
    background-color: #0c004d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 14px;
}

* {
    box-sizing: border-box
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}


/*Slideshow*/


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*DHS table for announcements*/

table#t01a {
    width: 85%;
    background-color: #f1f1c1;
    border-collapse: collapse;
    border: 2px solid black;
    text-align: justify;
}

table#t01a.center {
    margin-left: auto;
    margin-right: auto;
}

table#t01a tr:nth-child(even) {
    background-color: #eee;
}

table#t01a tr:nth-child(odd) {
    background-color: #fff;
}

table#t01a th {
    color: white;
    background-color: #4CAF50;
}

table#t01a th,
td {
    border-bottom: 1px solid #ffffff;
    padding: 15px;
}

table#t01a tr:hover {
    background-color: #0AB5B8;
}

.box {
    width: 50%;
    background-color: white;
    border: 3px solid white;
    box-shadow: 0px 3px 5px lightgrey;
    margin: 0px auto;
    border-radius: 10px;
}

.box-bottom {
    border-top: 3px solid #e9ecef;
    border-radius: 0px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.box-title {
    font-size: 40px;
    color: black;
    margin: 20px;
    word-wrap: break-word;
    text-align: center;
}

.box-left {
    font-size: 24px;
    color: grey;
    margin: 10px;
    margin-left: 10%;
    text-align: center;
}

.box-right {
    font-size: 24px;
    color: grey;
    margin: 10px;
    margin-right: 10%;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .box {
        width: 95%;
    }
    .box-title {
        font-size: 28px;
    }
    .box-left {
        font-size: 18px;
    }
    .box-right {
        font-size: 18px;
    }
    .prev,
    .next,
    .text {
        font-size: 11px
    }
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/*dropdown list*/


/*
li a,
.nav-link {
    display: inline-block !important;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.nav-link:hover .nav-link {
    background-color: red;
}

li.nav-item {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
*/